<mat-toolbar class="example-header">

</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                [fixedBottomGap]="options.value.bottom">
        <span class="btn-up-container">
            <button mat-flat-button class="btn-up">
                <i class="fas fa-sort-up"></i>
            </button>
        </span><br>
        <span *ngFor="let app of applications.apps">
            <button mat-flat-button class="btn-app" (click)="openApplication(app.url)">
                <img class="btn-icon-dimension" src="assets/images/{{app.image}}">
            </button>
        </span>
        <span class="btn-down-container">
            <button mat-flat-button class="btn-down">
                <i class="fas fa-sort-down"></i>
            </button>
            <mat-divider></mat-divider>
            <button mat-flat-button class="btn-down" [routerLink]="['/settings']">
                <i class="fas fa-cog"></i>
            </button>
        </span>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


<mat-toolbar class="example-footer">

</mat-toolbar>
