.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .btn-app {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
  }

  .btn-up-container {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    .btn-up {
      width: 100%;
    }
  }

  .btn-down-container {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    .btn-down {
      width: 100%;
    }
  }
  .btn-icon-dimension {
    width: 50px;
    height: 50px;
  }
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  background-color: #3a3a3a;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

